- if current_user.can_read?(group)
  = link_to group_path(group), class: 'list-group-item' do
    %h4.list-group-item-heading= group.name
    %p.list-group-item-text
      Founded by #{group.owner_name} on #{I18n.l group.created_at, format: :long}
- else 
  .list-group-item
    %h4.list-group-item-heading= group.name
    %p.list-group-item-text
      Founded by #{link_to group.owner_name, profile_path(group)} on #{I18n.l group.created_at}