.password-reset#clearance
  .panel.panel-default
    .panel-heading.clearfix
      %h3.panel-title.pull-left= t '.title'
      .btn-group.pull-right
        = link_to t('.sign_in'), sign_in_path, class: 'btn btn-success btn-xs'
    .panel-body
      = render partial: 'layouts/messages'
      %p= t '.description'
      = simple_form_for :password_reset, url: user_password_path(@user, :token => @user.confirmation_token), method: :put do |f|
        = f.input :password, as: :password
        = f.button :submit
